<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel=" ">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <img src="images/logo-mercado-liebre.svg" alt="logo">
        <nav>
            <input type="text" placeholder="Buscar productos, marcas ">
            <a href=""><i class="fa-solid fa-magnifying-glass icon-magnifying-glass"></i></a> 
        </nav>
        <section align="center"><i class="fa-solid fa-hand-holding-dollar" ></i> Compra en cuotas y con tarjeta de credito </i>
        </section>
        <nav>
            <div><a href="" style="text-decoration:none">Ofertas</a></div>
            <div><a href="" style="text-decoration:none">Tiendas Oficiales</a></div>
            <div><a href="" style="text-decoration:none">Vender</a></div>
            <div><a href="" style="text-decoration:none">Ayuda</a></div>
        </nav>
        <br>
        <section>
            <div><a href="" style="text-decoration:none">Creá tu cuenta <i
                        class="fa-solid fa-id-card"></i></a></div>
            <div><a href="" style="text-decoration:none">Ingresá <i
                        class="fa-solid fa-arrow-right-to-bracket"></i></a></div>
            <div><a href="" style="text-decoration:none">Mis compras <i
                        class="fa-solid fa-basket-shopping"></i></a></div>
        </section>
        <br>
        <nav align="center" id="burgerMenu">
            <a href="#" >
                <i class="fas fa-bars burger-menu"></i>
            </a>
        </nav>
        <nav>
            <img src="/images/img-home-banner.jpg" alt="">
        </nav>
    </header>


    <main>
        <section align="center">
                <h2 class="ofertas">Sección: Basado en tu última visita</h2>
                <article> <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <i class="fa-solid fa-truck icon-delivery"></i>
                    <div class="precios"> $6.770 </div>
                    <div> 40% OFF </div>
                    <strong>Cafetera Moulinex</strong>
                </article>
                <article > <img src="images/img-macbook-pro-2019.jpg" alt="Macbook">
                    <i class="fa-solid fa-truck icon-delivery"></i>
                    <div class="precios"> $230.000 </div>
                    <div> 20% off </div>
                    <strong>MacBook Pro 2019</strong>
                </article>
                <article > <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                    <i class="fa-solid fa-truck icon-delivery"></i>
                    <div class="precios"> $70.500 </div>
                    <div> 10% off </div>
                    <strong>Samsung Galaxy S10</strong>
                </article>
                <article > <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung Smart tv">
                    <i class="fa-solid fa-truck icon-delivery"></i>
                    <div class="precios"> $23.200</div>
                    <div> 5% off</div> 
                    <strong>SmartTv Samsung 43"</strong>
                </article>
        </section>
        <section align="center">
                <h2 class="ofertas"> Sección de Ofertas</h2> 
                <article > <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex"> 
                    <i class="fa-solid fa-truck icon-delivery"></i>
                    <div class="precios"> $6.770</div>
                    <div> 40% off </div>
                    <strong>Cafetera Moulinex</strong>
                </article>
                <article> <img src="images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <i class="fa-solid fa-truck icon-delivery"></i>
                    <div class="precios"> $230.000</div>
                    <div>20% off </div>
                    <strong>MacBook Pro 2019</strong>
                </article>
                <article> <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    <i class="fa-solid fa-truck icon-delivery"></i>
                    <div class="precios"> $70.500</div>
                    <div> 10% off </div>
                    <strong>Samsung Galaxy S10</strong>
                </article>
                <article> <img src="images/img-tv-samsung-smart.jpg" alt="Samsung TV">
                    <i class="fa-solid fa-truck icon-delivery"></i>
                    <div class="precios"> $23.200</div>
                    <div> 5% off </div>
                    <strong>SmartTv Samsung 43"</strong>
                </article>
        </section>
    </main>


    <footer>
        <section align="center">
            <br>
            <h4><i class="fa-solid fa-credit-card icon-cog"></i> <br>
                Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <h4>
                <i class="fa-solid fa-gift icon-cog"></i>
                <br>
                Envío gratis desde $ 2.500
            </h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <h4><i class="fa-solid fa-user-shield icon-cog"></i> <br>
                Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p> <br>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>