.formDialog {
    display: grid;
    width: 100%;
    background-color: #ebebeb;
    align-items: center;
}

.formItems {
    max-width: 5rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.textInput {
    font-family: 'Roboto';
    font-size: 12px;
    width: 300px;
    text-align: center;
    border-radius: 4px;
}

.loginButton {
    width: 200px;
    height: 20px;
    text-align: center;
    background-color: #1259c3;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 300;
}