body{
    padding:0px;
    margin: px;
}

#burgerMenu {
    text-align: center;
}

#burgerMenu a {
    background: hsl(210,100%,50%);
    width: 32px;
    height: 32px;
    margin: 16px;
    padding: 8px;
    border: 1px solid black;
    color: hsl(210,100%,100%);
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 6px;
}

/*
rem vs em

Recomendable usar en estos casos:
padding
margin
font-size
border
box-shadow

Para lo demas, podemos usar medidas de $ o vw y vh

*/